@charset "UTF-8";

html {
    /* height: 100%; */
}

body {
    /* height: 100%; */
    background: linear-gradient(180deg, #1479D5, #E6DB4A);
    /* width: 80%;
    margin: 0 auto;
    max-width: 500px; */
}

.top-outer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.top-inner {
    max-width: 500px;
    /* 必要に応じて適切な幅を指定 */
    text-align: center;
}

input {
    border-radius: 6px;
    border: 1px solid gray;
}

.logo {
    width: 200px;
}

.logoutSt {
    color: #fff;
    font-size: 40px;
}

.logoutContainer {
    margin: 50px;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    /* 角を丸くする */
    padding: 20px 40px;
    /* 内側の余白 */
    color: #fff;
    text-align: center;
}

.form-top {
    display: flex;
    flex-direction: column;
    /* justify-content: center; 縦方向中央*/
    align-items: center;
    height: 400px;
    /* ログインフォーム全体の高さを親要素に合わせる */
}

.youkoso {
    margin: 20px;
    font-size: 25px;
}

.youkoso2 {
    font-size: 20px;
}

.small1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.email {
    padding: 15px;
}

.form-input {
    width: 300px;
    height: 40px;
    border-color: #000;
}

.top-btn {
    float: right;
    padding: 15px;
}

.link-light {
    clear: both;
    margin-top: 10px;
}

.user-link {
    color: #fff;
}

/* ユーザー登録画面 */
.form-top1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; 縦方向中央*/
    align-items: center;
}

.login-font {
    color: #fff;
}

/* ユーザー登録完了画面 */
.clear-p p {
    margin-top: 5px;
}

.clear-btn {
    margin-top: 20px;
}
