@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 10px;
    height: 80px;
    background: #186AC9;
    display: flex;
    justify-content: space-between;
    /* 子要素を左右に均等に配置 */
    align-items: center;
    /* 子要素を垂直方向に中央揃え */
}

img.logo {
    width: 130px;
}

.top_head {
    height: 60px;
    display: flex;
    vertical-align: middle;
}

#side_user {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
    /* 子要素を垂直方向に中央揃え */
}

.user_name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.user_icon {
    width: 40px;
    height: 40px;
}


.arrow-icon:after {
    margin: 15px;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    transition: .3s;
}

.arrow-icon.active:after {
    transform: rotate(315deg);
    transition: .3s;
}

.arrow-icon {
    margin: 15px;
    line-height: 50px;
}

.according-menu {
    background-color: white;
    max-height: 300px;
    max-width: 25%;
    /* 初期状態では非表示 */
    overflow: hidden;
    /* 非表示の部分を隠す */
    float: right;
    position: absolute;
    /* アコーディオンメニューを絶対位置指定 */
    top: 80px;
    right: 0;
    /* サイドバーの右端に配置 */
    z-index: 2;
    /* スタッキングレベルを設定 */
    /* transition: max-height 0.3s ease; */
    /* アニメーションを設定 */
    padding: 20px;
    /* 項目の内側に余白を設定 */
    text-align: center;
    /* 文字を中央に配置 */
}

.according-menu.active {
    max-height: 300px;
    max-width: 100%;
    /* 開いた時に最大の高さを設定 */
}

/* サイドバーのレイアウト */
#side-bar {
    position: relative;
    /* ポジションを設定 */
    z-index: 1;
    /* スタッキングレベルを設定 */
    flex: 0 0 25%;
    margin: 0 0 0 auto;
    border-left: 1px solid #727272;
}

#confirm {
    margin: 10%;
}

#confirm p {
    margin-bottom: 20px;
}

.follow-count {
    display: flex;
}

.count {
    margin-right: 40%;
    margin-left: auto;
}

.count-btn {
    text-align: right;
    margin-bottom: 40px;
}

.count-btn .btn {
    width: 160px;
}

.search-btn {
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #ccc;
}

.search-btn .btn {
    margin-top: 40px;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 75%;
}

button {
    border: none;
    background-color: #fff;
}

.trashIcon {
    display: inline-block;
    /* インラインブロック要素にすることで高さや幅が自動で設定される */
    width: 50px;
    /* 適切な幅を指定 */
    height: 50px;
    /* 適切な高さを指定 */
    background-size: cover;
    /* 背景画像を要素にカバーさせる */
    background-image: url('/images/trash.png');
}

.trashIcon:hover {
    background-image: url('/images/trash-h.png');
}

.icon-text {
    display: none;
    /* テキストコンテンツを非表示にする */
}

/* postのcss */
.post-top {
    height: 500px;
}
